h2,h3{
    text-align: center;
}
p{
    font-size: 1.4rem;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    word-spacing: 1.5px;
}
#day1head{
    background-color: #ff4c68;
    font-family: 'Montserrat', sans-serif;
}
#day2head{
    background-color: #64a5d6;
    
    font-family: 'Montserrat', sans-serif;
    
}
#day3head{
    background-color: #57837B;
    font-family: 'Montserrat', sans-serif;
    
}

.navbar-item{
    padding: 0 18px;

}
.container-fluid{
    padding: 5% 5%;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link{
    font-size: 1.2rem;
}
.title{
    padding: 2% 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F3F1F5;;
}
.title-image{
    width: 90%;  
    height: 60%;
    margin: 20% 5%;
    text-align: center;
}

#testimonials{
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}


#testimonials2{
    text-align: center;
    background-color: #64a5d6;
    color: #fff;
}
#testimonials3{
    text-align: center;
    background-color: #57837B;
    color: #fff;
}


.carousel-item{
    padding: 7% 15%;

}

.testimonial-image{
    width: 90%;
    margin: 20px;
}

.button{
    padding: 0.1% 0.1%;
    margin: 2px 2px;
}

/* footer */

#footer{
    text-align: center;
    padding: 7% 15%;
    
}
.vid{
    width: 80%;
    margin: 20px;   
}

/* thanks-all */
.thanks{
    background-color: #BDD2B6;
    padding: 3% 15%;
    text-align: center;
}

#socials{
    text-align: center;
}
.social-icon{
    margin: 0 10px;
}
.white-selection{
    background-color: #FEFBF3;
}
